<div class="outer_inner hero-image">
    <div class="section main">
        <div class="lottery">
            <div class="raffle-roller">
                <div class="raffle-roller-holder">
                    <div class="raffle-roller-container" style="margin-left: 0px;">
                    </div>
                </div>
            </div>
            <span style="font-size: 25px;">You winning is <span style="color: green;" id="rolled">rolling</span>
            <br>
            <button ng-click="generate(1);">go</button>
            <button onclick="window.location='';">reset</button>
            <br>
            <div class="inventory"></div>
        </div>  
        
    </div>
</div>
